body {
	background: #fff;
	margin:0;
}
 
hr {
	border:0;
	background:#dedede;
	height:1px;
}		
 
header{
	text-align: center;
	color: #232323;
}
 
header .judul{
	font-size: 17pt;
}
 
header .deskripsi{
	font-size: 11pt;
}
 
.wrap {
	position: absolute;
	left: 10%;
	right: 10%;
	margin:25px auto;
}
 
nav.menu ul {
	overflow:hidden;
	color:#eee;
	list-style: none;
	float:left;
	padding:0;
	width: 100%;
	margin:0 0 25;
	background: royalblue;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
	box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
}
 
nav.menu ul li {
	margin:0;
	float:left;
}
 
nav.menu ul a {
	padding:25px;
	display:block;
	font-weight:600;
	font-size: 16px;
	color:#eee;
	text-transform: uppercase;
	transition: all 0.5s ease;
	text-decoration: none;
}
 
nav.menu ul a:hover {
	text-decoration: underline;
	background:#16a085;
}

.web {
	float:left;
}
 
.conteudo {
	width: 1114px;
	padding:25px;
	margin:25px auto;
	background: #eee;
	border:1px solid #dedede;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
}
 
.conteudo img {
	min-width: 650px;
	margin:0 0 25px -25px;
	max-width: 650px;
}
 
.conteudo h1 {
	padding:0;
	margin:0 0 15px;
	font-weight: normal;
	color: #666;
	font-family: Georgia;
}
 
.conteudo p:last-child {
	margin: 0;
}

.widget {
	padding:25px;
	margin:0 0 25px;
	background:#fff;
	border-bottom: 2px solid #ddd;
	transition: all 0.5s ease;
}
 
.widget:hover {
	border-bottom: 2px solid #3498db;
}
 
.widget h2 {
	padding:0;
	margin:0 0 15px;
	color:#3498db;
	font-size: 18px;
	font-weight:800;
	text-transform: uppercase;
}
 
.widget p {
	font-size: 14px;
}
 
.widget p:last-child {
	margin:0;
}
 .input-login {
    position: relative;
    display: block;
    margin: 2em auto;
    border-bottom: 1px solid #FC7148;
    border-radius: 3px;
    width: 170px;
    padding-left: 20px;
	
    &:before {
      font-family: FontAwesome;
      position: absolute;
      display: inline-block;
      top: 9px;
      left: 8px;
      font-size: 10px;
      color: #FC7148;
    }
    &:nth-child(1):before {
      content: "\f007";
    }
    &:nth-child(2):before {
      content: "\f023";
    }
  }
  button {
    outline: 0;
    font-size: 10px;
    letter-spacing: 0.1em;
    background-color: #FC7148;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 200px;
    padding: 1.2em 0;
    margin: 4em auto;
    display: block;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom-color: darken(#FC7148, 25);
    }
  }
input {
      width: 100%;
      line-height: 2;
      background-color: transparent;
      border: none;
      padding: .6em .5em;
      outline: 0;
    }
fieldset {
    border: none;
  }
}
